@model List<string>
@{
    ViewData["Title"] = "ThreeLeavesAssort - お気に入り10選";
    Layout = null;
}

<div class="container">
    <h2>お気に入り10選</h2>
    <ul class="favorites-list">
        @foreach (var item in Model)
        {
            <li>@item</li>
        }
    </ul>
    <a asp-controller="Home" asp-action="Top" class="back-btn">戻る</a>
</div>

<link rel="stylesheet" href="~/css/top.css" />